src/conf/xml-resources/web-service-references/ServiciosSATG6/wsdl/localhost_8080/SATv2/ServiciosSATG6.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="ServiciosSATG6">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/SATv2/ServiciosSATG6?xsd=1"/>
</xsd:schema>
</types>
<message name="CambiarEstadoFormulario">
<part name="parameters" element="tns:CambiarEstadoFormulario"/>
</message>
<message name="CambiarEstadoFormularioResponse">
<part name="parameters" element="tns:CambiarEstadoFormularioResponse"/>
</message>
<message name="ObtenerArancelIndividual">
<part name="parameters" element="tns:ObtenerArancelIndividual"/>
</message>
<message name="ObtenerArancelIndividualResponse">
<part name="parameters" element="tns:ObtenerArancelIndividualResponse"/>
</message>
<message name="ObtenerEstadoFormulario">
<part name="parameters" element="tns:ObtenerEstadoFormulario"/>
</message>
<message name="ObtenerEstadoFormularioResponse">
<part name="parameters" element="tns:ObtenerEstadoFormularioResponse"/>
</message>
<message name="CalcularManifesto">
<part name="parameters" element="tns:CalcularManifesto"/>
</message>
<message name="CalcularManifestoResponse">
<part name="parameters" element="tns:CalcularManifestoResponse"/>
</message>
<message name="obtenerPaquetesRecibidos">
<part name="parameters" element="tns:obtenerPaquetesRecibidos"/>
</message>
<message name="obtenerPaquetesRecibidosResponse">
<part name="parameters" element="tns:obtenerPaquetesRecibidosResponse"/>
</message>
<portType name="ServiciosSATG6">
<operation name="CambiarEstadoFormulario">
<input wsam:Action="http://servicios/ServiciosSATG6/CambiarEstadoFormularioRequest" message="tns:CambiarEstadoFormulario"/>
<output wsam:Action="http://servicios/ServiciosSATG6/CambiarEstadoFormularioResponse" message="tns:CambiarEstadoFormularioResponse"/>
</operation>
<operation name="ObtenerArancelIndividual">
<input wsam:Action="http://servicios/ServiciosSATG6/ObtenerArancelIndividualRequest" message="tns:ObtenerArancelIndividual"/>
<output wsam:Action="http://servicios/ServiciosSATG6/ObtenerArancelIndividualResponse" message="tns:ObtenerArancelIndividualResponse"/>
</operation>
<operation name="ObtenerEstadoFormulario">
<input wsam:Action="http://servicios/ServiciosSATG6/ObtenerEstadoFormularioRequest" message="tns:ObtenerEstadoFormulario"/>
<output wsam:Action="http://servicios/ServiciosSATG6/ObtenerEstadoFormularioResponse" message="tns:ObtenerEstadoFormularioResponse"/>
</operation>
<operation name="CalcularManifesto">
<input wsam:Action="http://servicios/ServiciosSATG6/CalcularManifestoRequest" message="tns:CalcularManifesto"/>
<output wsam:Action="http://servicios/ServiciosSATG6/CalcularManifestoResponse" message="tns:CalcularManifestoResponse"/>
</operation>
<operation name="obtenerPaquetesRecibidos">
<input wsam:Action="http://servicios/ServiciosSATG6/obtenerPaquetesRecibidosRequest" message="tns:obtenerPaquetesRecibidos"/>
<output wsam:Action="http://servicios/ServiciosSATG6/obtenerPaquetesRecibidosResponse" message="tns:obtenerPaquetesRecibidosResponse"/>
</operation>
</portType>
<binding name="ServiciosSATG6PortBinding" type="tns:ServiciosSATG6">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CambiarEstadoFormulario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerArancelIndividual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerEstadoFormulario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CalcularManifesto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerPaquetesRecibidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosSATG6">
<port name="ServiciosSATG6Port" binding="tns:ServiciosSATG6PortBinding">
<soap:address location="http://localhost:8080/SATv2/ServiciosSATG6"/>
</port>
</service>
</definitions>