web/WEB-INF/wsdl/localhost_8080/SATv2/CalcularManifesto.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="CalcularTotalManifesto" type="tns:CalcularTotalManifesto"/>

<xs:element name="CalcularTotalManifestoResponse" type="tns:CalcularTotalManifestoResponse"/>

<xs:element name="SQLException" type="tns:SQLException"/>

<xs:complexType name="CalcularTotalManifesto">
<xs:sequence>
<xs:element name="entrada" type="tns:masterClass" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="masterClass">
<xs:sequence>
<xs:element name="Categoria" type="xs:int"/>
<xs:element name="PorcentajeArancelario" type="xs:double"/>
<xs:element name="DetalleItem" type="tns:item" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NumeroFormulario" type="xs:int"/>
<xs:element name="Monto" type="xs:double"/>
<xs:element name="NumeroCuentaAcreditar" type="xs:int"/>
<xs:element name="NumeroCuentaDebitar" type="xs:int"/>
<xs:element name="Estado" type="xs:int"/>
<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="Nit" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Direccion" type="xs:string" minOccurs="0"/>
<xs:element name="NumeroTarjetaDebitar" type="xs:int"/>
<xs:element name="TipoPago" type="xs:int"/>
<xs:element name="HTMLPDF" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="NumeroTracking" type="xs:int"/>
<xs:element name="Cantidad" type="xs:int"/>
<xs:element name="Categoria" type="xs:int"/>
<xs:element name="Peso" type="xs:double"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="Descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="PorcentajeArancel" type="xs:double"/>
<xs:element name="CodigoUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularTotalManifestoResponse">
<xs:sequence>
<xs:element name="return" type="tns:masterClass" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SQLException">
<xs:sequence>
<xs:element name="SQLState" type="xs:string" minOccurs="0"/>
<xs:element name="errorCode" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="nextException" type="tns:sqlException" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sqlException">
<xs:complexContent>
<xs:extension base="tns:exception">
<xs:sequence>
<xs:element name="nextException" type="tns:sqlException" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="exception">
<xs:complexContent>
<xs:extension base="tns:throwable">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>
</xs:schema>